.bookCard {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 8px;
  padding: 12px;
  background-color: white;
  border: 1px solid var(--text-black);
  width: 320px; /* 320px */
  height: 172px; /* 160px */
  img {
    width: auto;
    height: 100%;
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cardText {
  max-width: 197px;
  height: 100%;
  .title {
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow: ellipsis;
  }
}

.ratingAndButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rating {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 4px;
    align-items: center;
  }
  
  .buttons {
    display: flex;
    align-items: center;
    gap: 8px;
    svg {
      width: 20px;
      height: 20px;
      &:hover {
        cursor: pointer;
      }
    }
    img {
      width: 26px;
      height: 26px;
      &:hover {
        cursor: pointer;
      }
    }
  }