.carousel {
  display: flex;
  flex-direction: column;
  width: 1057px; /* show 3 items */
  box-sizing: border-box;
  gap: 12px;
}

.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  gap: 12px;
  button {
    width: fit-content;
    height: fit-content;
  }
}

.sliderContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  gap: 12px;
  justify-content: center;
}

.disabledButton {
  background-color: lightgray;
  opacity: 50%;
  cursor: default;
  &:hover {
    background-color: lightgray;
  }
}

.viewMoreButton {
  margin-left: auto;
  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    gap: 4px;
  }
}
