.collectionCard {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 8px;
  width: 346px; /* 302px for 5 books or 370px */
  height: 180px; /* 182px or 184px*/
  background-color: white;
  color: var(--text-black);
  border: 1px solid var(--text-black);
  padding: 12px;
}

.bookCovers {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 100%;
  gap: 4px;
  img {
    width: 50px; /* 52px or 54px*/
    height: 100%;
    user-select: none;
    object-fit: cover;
  }
}

.titleAuthor p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.favouriteButton {
  position: relative;
  top: -32px;
  left: 313px;
  display: flex;
  width: fit-content;
  align-items: center;
  svg {
    width: 20px;
    height: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}

/* small screens */
@media only screen and (max-width: 380px) {
  .collectionCard {
    width: 292px;
  }
  .bookCovers {
    gap: 4px;
  }
  .favouriteButton {
    left: 258px;
  }
}