.collectionCard {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 8px;
  width: 308px; 
  height: 180px; 
  background-color: white;
  color: var(--text-black);
  border: 1px solid var(--text-black);
  padding: 12px;
}

.bookCovers {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 100%;
  gap: 8px;
  img {
    width: 50px; 
    height: 100%;
    user-select: none;
    object-fit: cover;
  }
}

.titleAuthor p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.favouriteButton {
  position: relative;
  top: -32px;
  left: 275px;
  display: flex;
  width: fit-content;
  align-items: center;
  svg {
    width: 20px;
    height: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}

/* small screens */
@media only screen and (max-width: 380px) {
  .collectionCard {
    width: 250px;
  }
  .bookCovers {
    gap: 8px;
  }
  .favouriteButton {
    left: 217px;
  }
}