@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  background-color: #FDFAF6;
  color: #050315;
  scroll-behavior: smooth;
  font-family: 'Montserrat', system-ui, sans-serif;
  --primary: #9dca84;
  --secondary: #EAD196;
  --tertiary: #EBE5C2;
  --off-white: #FDFAF6;
  --text-black: #050315;
  --border: #050315;
}

body {
  margin: 0px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.65rem;
  font-weight: 700;
  margin: 20px 0px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 18px 0px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 16px 0px;
}

p, div, span, label {
  font-family: 'Poppins', sans-serif;
  font-size: 1.0rem;
  font-weight: 300;
  margin: 0px;
}

title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

a, Link {
  font-family: 'Poppins', sans-serif;
  font-size: 1.0rem;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-black);
  &:hover {
    color: var(--primary);
  }
}

input, textarea, select {
  font-family: 'Poppins', sans-serif;
  font-size: 1.0rem;
  font-weight: 300;
  padding: 0.5rem /* 8px */;
  border: 1px solid var(--border);
  background-color: white;
  color: var(--text-black);
}

button {
  font-family: 'Poppins', sans-serif;
  font-size: 1.0rem;
  font-weight: 300;
  padding: 0.5rem /* 8px */;
  background-color: white;
  border: var(--border) 1px solid;
  color: var(--text-black);
  transition: all 0.25s ease-in-out;
  &:hover {
    background-color: var(--primary);
  }
}

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
 ::-webkit-scrollbar-track {
  background: #dddddd;
}
  
/* Handle */
 ::-webkit-scrollbar-thumb {
  background: #818181; 
  border: 1px solid transparent;
  background-clip: padding-box;
} 

/* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
  background: #505050; 
  border: 1px solid transparent;
  background-clip: padding-box;
} 

/* scrollbar in textarea */
textarea::-webkit-scrollbar-track {
  background: transparent;
} 

/* scrollbar in div */
 div::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

div::-webkit-scrollbar-track {
  background: transparent;
} 

div::-webkit-scrollbar-thumb {
  background: rgb(209 213 219);
}  

 div::-webkit-scrollbar-thumb:hover {
  background: rgb(156 163 175);
}

/* small and med screens */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
}