.homePage {
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
}

.hero {
  display: flex;
  flex-direction: row;
  padding: 25px;
  height: 411px;
}

.heroImage {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 500px;
  
  img {
    transform: scaleX(-1);
    width: 100%;
    height: 100%;
    object-fit: cover;  /* object-fit: none for mobile */
    object-position: top;
  }
}

.heroContent {
  display: flex;
  flex-direction: column;
  padding: 5%;
  max-width: 573px;
  height: fit-content;
  z-index: 2;
}

.heroButtons{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 60px;
  button {
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.popularSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 38px;
  h2 {
    text-align: center;
  }
}

.signUpSection {
  display: flex;
  flex-direction: row;
  padding: 60px;
  background-color: var(--primary);
  gap: 12px;
  overflow: hidden;
  margin-bottom: 20px;
  
  button {
    width: fit-content;
    padding-left: 38px;
    padding-right: 38px;
  }
}
.signUpText {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.signUpImage {
  display: flex;

  img {
    width: 100%;
    height: 100%;
    max-width: 500px;
    object-fit: contain;  /* object-fit: none for mobile */
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    height: 471px;
  }
  .heroImage {
    height: 560px;
  }
}

@media screen and (max-width: 690px) {
  .signUpImage {
    display: none;
  }
}

@media screen and (max-width: 549px) {
  .signUpSection {
    padding: 40px;
  }
  .heroButtons {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }
  .heroContent {
    padding: 0%;
    padding-bottom: 20px;
  }
  .heroImage {
    height: 520px;
  }
}

@media screen and (min-width: 549px) and (max-width: 768px) {
  .hero {
    height: 351px;
  }
  .heroImage {
    height: 440px;
  }
}

@media screen and (min-width: 549px) and (max-width: 1000px) {
.signUpImage {
    img {
      width: 140%;
    }
  }
}