.homePage {
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
}

.hero {
  display: flex;
  flex-direction: row;
  padding: 25px;
  height: 500px;
}

.heroImage {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 500px;
  
  img {
    transform: scaleX(-1);
    width: 100%;
    height: 100%;
    object-fit: cover;  /* object-fit: none for mobile */
    object-position: top;
  }
}

.heroContent {
  display: flex;
  flex-direction: column;
  padding: 25px;
  max-width: 573px;
  z-index: 2;
}

.heroButtons{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 60px;
  button {
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
  }
}